# OSX metadata
.DS_Store
._DS_Store
.idea

# Avoid accidentally adding certs
*.p12
*.pem
*.crt
*.key

# VSCode and pytest settings
.vscode/*

# caches, artefacts
.pytest_cache
__pycache__
pytest*.xml
.mypy_cache
.*cache
