[submodule "openldap"]
	path = openldap
	url = git@github.com:pvarki/docker-openldap.git
[submodule "cfssl"]
	path = cfssl
	url = git@github.com:pvarki/docker-rasenmaeher-cfssl.git
[submodule "keycloak2"]
	path = keycloak
	url = git@github.com:pvarki/docker-keycloak.git
[submodule "api"]
	path = api
	url = git@github.com:pvarki/python-rasenmaeher-api.git
[submodule "fpintegration"]
	path = fpintegration
	url = git@github.com:pvarki/python-rasenmaeher-rmfpapi.git
[submodule "kw_product_init"]
	path = kw_product_init
	url = git@github.com:pvarki/golang-kraftwerk-init-helper-cli.git
[submodule "miniwerk"]
	path = miniwerk
	url = git@github.com:pvarki/python-rasenmaeher-miniwerk.git
[submodule "ui"]
	path = ui
	url = git@github.com:pvarki/rasenmaeher-ui.git
[submodule "takserver"]
	path = takserver
	url = git@github.com:pvarki/docker-atak-server.git
[submodule "takintegration"]
	path = takintegration
	url = git@github.com:pvarki/python-tak-rmapi.git
