[submodule "openldap"]
	path = openldap
	url = git@github.com:pvarki/docker-openldap.git
[submodule "cfssl"]
	path = cfssl
	url = git@github.com:pvarki/docker-rasenmaeher-cfssl.git
[submodule "keycloak2"]
	path = keycloak
	url = git@github.com:pvarki/docker-keycloak.git
[submodule "api"]
	path = api
	url = git@github.com:pvarki/python-rasenmaeher-api.git
[submodule "mkcert"]
	path = mkcert
	url = git@github.com:pvarki/docker-mkcert.git
[submodule "fpintegration"]
	path = fpintegration
	url = git@github.com:pvarki/python-rasenmaeher-rmfpapi.git
[submodule "kw_product_init"]
	path = kw_product_init
	url = git@github.com:pvarki/golang-kraftwerk-init-helper-cli.git
