# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: no-commit-to-branch
    -   id: check-executables-have-shebangs
    -   id: check-ast
    -   id: check-toml
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        exclude: "docker-compose.*.yml"
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: pretty-format-json
        args:
        - --autofix
-   repo: https://github.com/IamTheFij/docker-pre-commit.git
    rev: v2.1.1
    hooks:
    -   id: docker-compose-check
        files: "docker-compose.*.yml"
        exclude: ".*.tpl"
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
    -   id: forbid-crlf
    -   id: remove-crlf
    -   id: forbid-tabs
    -   id: remove-tabs
-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.2.0
    hooks:
    -   id: detect-secrets
        exclude: "poetry.lock|dotenv.example|docker-compose_.*.yml"
        # args: ['--baseline', '.secrets.baseline']
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
        language_version: python3
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
    -   id: mypy
        args: ["--strict"]
        language: system
-   repo: https://github.com/pycqa/pylint
    rev: v2.13.4
    hooks:
    -   id: pylint
        language: system
