# This extends the _local file, run with:
#   `docker-compose -f docker-compose-local.yml -f docker-compose-dev.yml up`
version: '3.7'
services:
  rmapi:
    image: pvarki/rmapi:devel_shell
    build:
      context: ./api
      dockerfile: Dockerfile
      target: devel_shell
    command: ["-c", "source /root/.profile && poetry install && RM_CFSSL_HOST=http://cfssl uvicorn --host 0.0.0.0 --port 8000 --log-level debug --factory rasenmaeher_api.web.application:get_app --reload"]
    volumes:
      - "./api:/app"

  rmfpapi:
    image: pvarki/rmfpapi:devel_shell
    build:
      context: ./fpintegration
      dockerfile: Dockerfile
      target: devel_shell
    command: ["-c", "source /root/.profile && poetry install &&uvicorn --host 0.0.0.0 --port 8001 --log-level debug --factory rmfpapi.app:get_app --reload"]
    volumes:
      - "./fpintegration:/app"
